a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
  background: #1e252b;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
.container {
  max-width: 1225px;
  margin: 0 auto;
  padding: 10px 0;
}
/* HEADER */
header {
  background-color: #1e252b;
}
.header-nav {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  gap: 21px;
  display: flex;
}
.header-logo {
  width: 19.377px;
}
.header-text-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-weight: 600;
}
.header-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 500;
}
.nav-link:hover {
  color: white;
  transition: 1s;
}
.nav-link:not(:hover) {
  transition: 1s;
}
.button-log {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-weight: 600;
  width: 118px;
  height: 48px;
  background: #1e252b;
  border: none;
  border-radius: 8px;
}
.button-log:hover {
  background: #ff6e30;
  color: #fdf5ff;
  transition: 1s;
}
.button-log:not(:hover) {
  transition: 1s;
}
.button-reg {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-weight: 600;
  width: 118px;
  height: 48px;
  border-radius: 8px;
  background: #1e252b;
  border: none;
}
.button-reg:hover {
  background: #ff6e30;
  color: #fdf5ff;
  transition: 1s;
}
.button-reg:not(:hover) {
  transition: 1s;
}
/* SECTION HERO */
.hero {
  padding-top: 105px;
  background: #1e252b;
  height: 630px;
  display: flex;
}
.hero-title {
  width: 600px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-weight: 500;
  line-height: 140%; /* 70px */
}
.dot {
  color: #ff6e30;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 500;
  line-height: 140%;
}
.hero-description {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 487px;
  margin-top: 30px;
}
.hero-wrapper {
  width: 500px;
  height: 64px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.hero-input {
  height: 21px;
  width: 195px;
  color: rgba(255, 255, 255, 0.38);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  background: #283036;
  border: none;
}
.hero-button {
  color: #fdf5ff;
  font-size: 16px;
  font-weight: 600;
  width: 130px;
  height: 48px;
  border: none;
  background-color: #ff6e30;
  border-radius: 8px;
  margin-right: 11px;
}
.hero-button:hover {
  color: #ff6e30;
  background-color: #fdf5ff;
  transition: 1s;
}
.hero-button:not(:hover) {
  transition: 1s;
}
.hero-img {
  margin-left: 15px;
}
.hero::after {
  position: relative;
  content: url(imgs/hero/Illustration.png);
  width: 589px;
  bottom: 45px;
}
.hero-list {
  display: flex;
  margin-top: 121px;
  gap: 30px;
}
/* SECTION POPULAR */

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 100px;
  margin-top: 100px;
}
.popular-items {
  width: 392px;
  height: 294px;
  border-radius: 15px;
  background: #1e252b;
}
.popular-img {
  margin-top: 34px;
  margin-left: 33px;
}
.popular-items:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  background-image: radial-gradient(
    ellipse at top right,
    rgba(254, 135, 84, 0.307),
    rgba(255, 255, 255, 0) 20%
  );
  backdrop-filter: blur(100px);
  transform: translateY(-20px);
  transition: 1s;
}
.popular-items:not(:hover) {
  transition: 1s;
}
.popular-button {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-weight: 600;
  width: 118px;
  height: 48px;
  background: #1e252b;
  border: none;
  border-radius: 8px;
  margin-left: 130px;
}
.popular-button:hover {
  background: #ff6e30;
  color: #fdf5ff;
  transition: 1s;
}
.popular-button:not(:hover) {
  transition: 1s;
}
.popular-container {
  display: flex;
}
.container-img {
  margin-right: 25px;
}
.container-text {
  margin-top: 33px;
}
.popular-title-text {
  margin-top: 3px;
}
.popular-list-text {
  margin-bottom: 37px;
  margin-top: 37px;
  margin-left: 33px;
}
.heart {
  height: 30px;
  width: 30px;
  margin-right: 25px;
  margin-left: 40px;
}
.heart:hover {
  border-radius: 8px;
  background: #283036;
  box-shadow: 0px 30px 50px -3px rgba(18, 18, 18, 0.15);
}
.heart:not(:hover) {
  transition: 1s;
}
.folder {
  height: 30px;
  width: 30px;
}
.popular-title-main {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  margin-top: 200px;
}
.popular-text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 25px;
}
.popular-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
}
.popular-title-text {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-weight: 400;
}
.popular-list-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}
.popular-button {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.popular-under-button {
  display: block;
  margin: 0 auto;
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  color: #ff6e30;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  margin-top: 100px;
}
.popular-under-button:hover {
  background: #ff6e30;
  color: #fdf5ff;
  transition: 1s;
}
.popular-under-button:not(:hover) {
  transition: 1s;
}
/* SECTION BRAND */
.brand-container {
  width: 1224px;
  height: 253px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  background-image: radial-gradient(
    circle at top left,
    rgba(255, 57, 57, 0.329),
    rgba(44, 53, 61, 0.2) 8%
  );
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 220px;
}
.brand-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 55px;
}
.brand-list {
  display: flex;
  justify-content: center;
  gap: 107px;
  margin-top: 56px;
}
/* SECTION NEWCOMER */
.newcomer {
  display: flex;
}
.newcomer-left-container{
  margin-right: 150px;
}
.newcomer-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  margin-top: 20px;
}
.newcomer-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-top: 30px;
}
.newcomer-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  margin-top: 60px;
}
.newcomer-button:hover {
  background-color: white;
  color: #ff6e30;
  transition: 1s;
}
.newcomer-button:not(:hover) {
  transition: 1s;
}
.newcomer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.newcomer-items {
  width: 288px;
  height: 284px;
  border-radius: 15px;
  background: #1e252b;
}
.newcomer-items:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  background-image: radial-gradient(
    ellipse at top right,
    rgba(254, 135, 84, 0.307),
    rgba(255, 255, 255, 0) 20%
  );
  backdrop-filter: blur(100px);
  transform: translateY(-20px);
  transition: 1s;
}
.newcomer-list-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
  margin-top: 28px;
}
.newcomer-list-subtitle {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-weight: 400;
  margin-top: 3px;
}
.newcomer-list-text {
  width: 245px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.newcomer-img-container {
  margin-top: 39px;
  margin-left: 26px;
}
.newcomer-card-container {
  display: flex;
}
.newcomer-img-container {
  margin-right: 34px;
}
.newcomer-list-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
}
.newcomer-list-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
}
.newcomer-list-button {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 600;
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background: #1e252b;
  border: none;
  margin-right: 21px;
}
.newcomer-list-button:hover {
  background-color: #ff6e30;
  color: white;
  transition: 1s;
}
.newcomer-list-button:not(:hover) {
  transition: 1s;
}
.newcomer-imgs-container {
  display: flex;
  justify-content: space-between;
}
.heart1 {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.folder1 {
  height: 30px;
}
/* SECTION MAN */
.man-name {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.39px;
}
.man-work {
  color: rgba(255, 253, 253, 0.55);
  font-size: 16px;
  font-weight: 400;
}
.man-text {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
}
/* SECTION JOIN */
.join-title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
}
.join-text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.join-input {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-weight: 400;
}
.join-button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/* FOOTER */
.footer-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-weight: 600;
}
.footer-title-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 500;
}
.footer-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.footer-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 500;
}
.footer-nav-link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 500;
}
